.ingrediente{

}

.ingredientes{
 list-style-type: none;
 padding-inline-start:0;
 font-weight: 300;
 font-size: 18px;
}

.Receita{
    margin-bottom: 50px;
    flex: 0 0 30.3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    
    transition-property:visibility;
    transition-duration: 2s;
}



.Receita:hover{

    box-shadow: 0 1px 25px 0 rgb(32 33 36 / 50%);
}

@media (max-width: 767px) {
    .Receita{
        flex: 0 0 97%;
    }
}

@media (min-width: 768px) and (max-width:1024px){
    .Receita{
        flex: 0 0 47%;
    }
}

@media (min-width: 1025px )  {
    .Receita{
        flex: 0 0 30.3%;
    }
}


.Receita h2{
    font-size:25px;
}

.ReceitaContent{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.tipo-de-culinaria{
    text-transform: capitalize;
}

.tipos-de-culinaria{
    list-style-type: none;
    padding-inline-start:0;
}

.imagem{
    width: 100%;
}